@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --mainBG: #f9f5ec;
  --white: #ffffff;
  --lavander: #c8befb;
  --dark-purple: #7c6cca;
  --shadow: #452fb3;
  --gray: #c9c9c9;
  --dark: #1d1e1f;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainBG);
  background-image: url('wave.svg');
  background-size: cover;
  background-position: center bottom;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  background-color: hsla(42, 52%, 95%, 0.363);
  border: 1px solid var(--dark-purple);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.subtitle {
  font-size: 1.4rem;
}

.card {
  text-align: center;
  height: 180px;
  background-color: var(--white);
}
.card,
.palindrome-definition-div {
  align-content: center;
  margin: 20px;
  width: 400px;
  border-radius: 10px;
  border: 1px solid var(--dark);
}

.palindrome-definition-div {
  text-align: left;
  display: flex;
  background-color: var(--gray);
  padding: 20px;
  font-size: 0.75rem;
  height: 130px;
}

.result {
  font-weight: 500;
  padding: 10px;
  color: var(--dark-purple);
}

.icon {
  font-size: 3rem;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: var(--lavander);
  border-radius: 10px;
  border: 1px solid var(--dark);
}
button:hover {
  background-color: var(--dark-purple);
  color: var(--white);
}

input {
  border: none;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 2px solid var(--dark-purple);
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.3rem;
  text-align: center;
}

.b {
  color: var(--shadow);
  font-weight: 700;
}

@media (max-width: 600px) {
  main {
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .card {
    font-size: 0.8rem;
    height: 200px;
  }
  .card,
  .palindrome-definition-div {
    margin: 10px;
    width: 200px;
  }

  .palindrome-definition-div {
    padding: 10px;
    font-size: 0.64rem;
    height: 150px;
  }

  .result {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 2rem;
  }

  input {
    width: 140px;
    font-size: 1rem;
  }
}
